<div class="min-h-screen flex align-items-center justify-content-center bg-gray-100">
  <p-toast></p-toast>
  <div class="card p-4 shadow-2 text-center" style="width: 450px; border-radius: 10px">
    <div class="mb-4">
      <img src="../../../assets/barn_5341110.png" alt="Logo" width="100" />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 text-left">
        <label for="email" class="form-label">Correo electrónico</label>
        <input
          pInputText
          formControlName="email"
          id="email"
          type="email"
          placeholder="Correo electr&oacute;nico"
          class="w-full mt-2"
        />
      </div>

      <div class="mb-3 text-left">
        <label for="password" class="form-label">Contraseña</label>
        <div class="w-full">
          <p-password
            [style]="{ width: '100%' }"
            formControlName="password"
            id="password"
            [toggleMask]="true"
            placeholder="Contraseña"
            inputStyleClass="w-full mt-2"
          ></p-password>
        </div>
      </div>
      <p-button
        label="Iniciar Sesión"
        type="submit"
        [disabled]="loginForm.invalid"
        class="w-full"
      ></p-button>
    </form>
  </div>
</div>
