/* You can add global styles to this file, and also import other style files */
@import 'primeflex/primeflex.css';
body{
    overflow: hidden;
}
::ng-deep .p-datepicker {
  font-size: 0.8rem; // Reduce el tamaño general del popup
  width: 100px !important; 
}

::ng-deep .p-datepicker table td {
  padding: 0.25rem !important; // Reduce espacio entre los días
}

::ng-deep .p-datepicker .p-datepicker-header {
  padding: 0.25rem 0.5rem !important;
}

::ng-deep .p-datepicker .p-datepicker-title {
  font-size: 0.85rem;
}
.p-calendar .p-datepicker {
    min-width: 100%;
}
